/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark { 
  --bg-page: url("../images/cover-image-dark.png");
  --сolor-header-text: rgba(255, 0, 112, 1);
  --color-accent: #ff0070;
  --color-title: #db00ff;
  --color-text: #f1b2ce;
  --bg-color: rgba(0, 0, 40, 1);
  --border-color: rgba(255, 0, 112, 1);
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
