/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-page);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
  margin-block: 10px;
  margin-inline: 10px;
}

.header {
  position: relative;
  flex-direction: column;
  height: 100vh;
  min-height: 23px;
}

.header__rec {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  margin-inline-start: 294px;
  margin-inline-end: 29px;
  color: var(--color-accent);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
  flex-shrink: 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-accent);
  border-left: 1px solid var(--color-accent);
}

.header__theme-menu {
  margin-block-start: 40px;
  margin-inline-end: 25px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 16px;
}

.header__theme-menu-button {
  color: var(--сolor-header-text);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--сolor-header-text);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--сolor-header-text);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  color: var(--color-title);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.25rem, 5.8125rem + 6.25vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--color-accent);
  margin-block-start: 70px;
}

.signature {
  padding-inline-end: 20px;
  padding-block-start: 56px;
  text-align: left;
}

.signature-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 23.4px;
}

.content {
  padding: 0px;
  display: grid;
  flex-direction: column;
}

.content__section {
  display: flex;
  flex-direction: column;
}

.content__paragraph a {
  text-shadow: 2px 2px 0 var(--color-accent);
  text-decoration: none;
}

.content_heading {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--сolor-header-text);
  text-align: left;
}

.padding-heading {
  padding-inline-end: 20px;
  padding-block-start: 30px;
}

.padding-heading_low-attention {
  padding-inline-end: 20px;
  padding-block-start: 50px;
}

.padding-heading_better-concentration {
  padding-inline-end: 20px;
  padding-block-start: 50px;
}

.padding_sub-sub-heading {
  padding-inline-end: 20px;
  padding-block-start: 20px;
  padding-block-end: 10px;
}

.padding_sub-sub-heading_advice {
  padding-inline-end: 20px;
  padding-block-start: 20px;
}

.padding_gallery {
  padding-inline-end: 20px;
  padding-block-start: 48px;
  padding-block-end: 10px;
}

.content__subheading {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.content_sub-sub-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 23.4px;
}

.content_sub-sub-heading_regular {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title-decor {
  background-color: var(--color-accent);
}

.content__text-block {
  padding-inline-end: 20px;
}

.content__paragraph {
  color: var(--color-text);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.content__paragraph:last-child {
  margin-bottom: 0;
}

.content__gallery {
  display: grid;
  grid-template-columns: minmax(230px, 1fr);
  gap: 10px;
  padding-inline-end: 20px;
}

.content__gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--color-title);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--color-accent);
}

@media (width >= 768px) {
  .header__rec {
    margin-block-start: 10px;
    margin-inline-start: 677px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    bottom: 30px;
    left: 10px;
  }

  .header__title {
    margin-block-start: 185px;
  }

  .header__theme-menu {
    padding-block-start: 109px;
    margin-inline-end: 18px;
  }

  .signature {
    padding-block-start: 154px;
    margin-inline-start: 374px;
    justify-self: end;
    align-self: start;
  }

  .content__concentration-hard {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr;
    gap: 17px;
    padding-block-start: 20px;
    padding-block-end: 30px;
  }

  .content__title-section {
    grid-column: 1/2;
  }

  .content__section-describtion {
    grid-column: 2/2;
    grid-row: 1/2;
    padding-block-start: 10px;
    padding-inline-start: 10px;
  }

  .padding-heading {
    padding-inline-start: 10px;
  }

  .padding_sub-sub-heading {
    padding-block-start: 20px;
    padding-inline-end: 10px;
    padding-inline-start: 4px;
  }

  .content__concentration-low-attention {
    display: grid;
    padding-block-end: 10px;
  }

  .padding-heading_low-attention {
    padding-inline-end: 512px;
    padding-inline-start: 10px;
  }

  .content__concentration-low-attention .padding_sub-sub-heading {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .content__concentration-low-attention .content__text-block {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .content__concentration-better-focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr;
    gap: 17px;
    padding-block-start: 20px;
  }

  .content__title_better-focus {
    grid-column: 1/2;
  }

  .padding-heading_better-concentration {
    padding-inline-start: 9px;
    padding-inline-end: 0px;
    padding-block-start: 48px;
  }

  .content__section-discribtion_better-focus {
    grid-column: 2/2;
    grid-row: 1/2;
    padding-block-start: 30px;
  }

  .content__concentration-better-focus .content__text-block {
    padding-inline-start: 13px;
    padding-inline-end: 10px;
  }

  .padding_sub-sub-heading_advice {
    padding-inline-start: 14px;
    padding-inline-end: 10px;
  }

  .content__concentration-better-focus .padding_sub-sub-heading {
    padding-inline-start: 13px;
    padding-inline-end: 10px;
  }

  .gallery {
    padding-inline-start: 10px;
    padding-block-start: 30px;
    padding-inline-end: 10px;
    gap: 20px;
  }

  .padding_gallery {
    padding-inline-end: 0px;
  }

  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    padding-inline-end: 0px;
  }

  .content__gallery-image:first-child {
    grid-column: span 2;
  }

  .content__gallery-image:nth-child(2) {
    grid-row: span 3;
    height: 100%;
  }

  .content__gallery-image:nth-child(3) {
    grid-row: 2/5;
    height: 100%;
  }

  .content__gallery-image:nth-child(5) {
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 70px;
  }
}

@media (width >= 1024px) {
  .header-desktop {
    display: grid;
  }

  .header__rec {
    position: relative;
    margin-inline-start: 933px;
  }

  .header__rec::after {
    width: 10px;
    height: 10px;
  }

  .header__theme-menu {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-inline-start: 394px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .header__title {
    margin-block-start: 275px;
  }

  .signature {
    padding-block-start: 114px;
    margin-inline-start: 504px;
    padding-inline-end: 10px;
  }

  .content__concentration-hard {
    grid-template-columns: 311px 1fr;
    gap: 20px;
  }

  .content__text-block {
    padding-inline-start: 5px;
    padding-inline-end: 0px;
  }

  .section-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .padding-heading_low-attention {
    margin-inline-end: 115px;
  }

  .content__concentration-better-focus {
    grid-template-columns: 314px 1fr;
  }
}
