/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  margin: 0px;
}
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-page);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
  margin-block: 10px;
  margin-inline: 10px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 23px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  
  right: 48px;
  color: var(--color-accent);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-accent);
  box-shadow: 0 0 4px 2px var(--color-accent);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 20px;
  border-top: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

.header__theme-menu {
  margin-block-start: 65px;
  margin-inline-end: 25px;
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  gap: 16px;
}

.header__theme-menu-button {
  color: var(--сolor-header-text-dark);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  
}

.header__theme-menu-button:hover {
  border: 1px solid var(--сolor-header-text-dark);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--сolor-header-text-dark);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title {
  color: var(--color-title);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--color-accent);
  align-self: start;
  justify-self: start;
}

.signature {
  margin-block-start: 50px;
  margin-inline-end: 10px;
}

.content {
  padding: 0px;
  display: grid;
  flex-direction: column;
  
}

.content__section {
  display: flex;
  flex-direction: column;
}
/*
.content__divider {
  background-color: var(--color-accent);
  padding: 20px;
  color: var(--color-text-dark);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.content__heading {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
} */

.content_heading {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--сolor-header-text-dark);
  margin-block-start: 50px;
  margin-block-end: 20px;

}
.content__subheading {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.content_sub-sub-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.content_sub-sub-heading_regular {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
 
}

.title-decor {
  background-color: var(--color-accent);
}

.content__text-block {
  padding: 0 20px;
}

.content__paragraph {
  color: var(--color-text);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.content__paragraph:last-child {
  margin-bottom: 0;
}

.content__gallery {
  display: grid;
  grid-template-columns: minmax(230px, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.content__gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  height: 100vh;
  min-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer__title {
  color: var(--color-title);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--color-accent);
}