/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-page: url("../images/cover-image-dark.png");
  --сolor-header-text-dark: rgba(255, 0, 112, 1);
  --color-accent: #ff0070;
  --color-title: #db00ff;
  --color-text: #f1b2ce;
  --color-text-dark: #000028;
}